*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
    font-family: "Roboto","ARIAL", sans-serif;
    background-color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.mountain{
    margin-right: 193px;
}
.container{
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        background-color: #fff;
        display: flex;
}

.login__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welkom{
    color: #2D3748;
    margin-bottom: 2px;
}

.title{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #1A202C;
    margin-bottom: 24px;
}

.reception{
    display: flex;
    flex-direction: column;
    line-height: 18.75px;
    color: #4A5568;
    gap: 11px;
    margin-bottom: 11px;
}


.password{
    padding: 17px 0px 17px 20px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}

.password::placeholder{
    font-size: 14px;
    line-height: 16px;
    color: #2D3748;
}
.email{
    padding: 20px 0px 14px 20px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}

.email::placeholder{
    font-size: 14px;
    line-height: 16px;
    color: #000;
}

.label__email{
    margin-bottom: 28px;
}
.botom{
    display: flex;
    gap: 119px;
    margin-bottom: 27px;
}

.radio-and-password{
    font-size: 14px;
    line-height: 16px;
}
.remember{
    color: #2D3748;
    display: flex;
    align-items: center;
    gap: 11px;
}
.forgot-password{
    text-decoration: none;
    color: #2c5282;
}

.btn{
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    margin-bottom: 15px;
}

.login{
   
    background-color: #04C35C;
    padding: 15px 136px 16px 137px;
    border: none;
    cursor: pointer;
   
}

.with-google{
    text-decoration: none;
    padding: 15px 78px 16px 110px;
    background-color: #2D3748;
    position: relative;
}

.icon{
    position: absolute;
    left: 79px;
    
}
